/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  margin: 0;
  color: #012143;
}

.top-icon {
  margin:0; 
  padding:40px; 
  text-align:center;
  
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 52px;
}



h2 {
  background-color: #012143;
  color: gold;
  padding:20px;
}


h3 {
  text-align:center;
  padding:5px;
  
}


.container {
  padding-left:20px; 
  padding-right:20px;
}

title {
  position: relative;
  top: 10px;
  bottom: 150px;
}

a:hover {
  color:gray;
}


/* Hero Image - Team Photo */

.teamphoto img {
  width:100%;
  position: relative;
}




/* Navigation Bar */

.navigation {
  background:#012143; 
  padding:10px;
  font-size: 30px;
}

.navigation ul {
  padding:0px;
  text-align: center;
} 

.navigation li {
  display:inline-block; 
  list-style: none;
}

.navigation li a {
  padding:30px; 
  text-decoration: none;
  color: gold;
  display: inline-block;
}

.navigation li a:hover {
  color: gray; 
}




.topbutton {
  float: right;
  position:relative;
  background-color:none;
  font-size: 23px;
  color:gold;
  top:-84px;
  right:30px;
}



.second {
  float: right;
  position:relative;
  background-color:none;
  font-size: 23px;
  color:gold;
  top:-84px;
  right:30px;
}


.third {
  float: right;
  position:relative;
  background-color:none;
  font-size: 23px;
  color:gold;
  top:-84px;
  right:30px;
}

.fourth {
  float: right;
  position:relative;
  background-color:none;
  font-size: 23px;
  color:gold;
  top:-84px;
  right:30px;
}




/* Roster Stuff*/



.roster-list {
  display: block;
  margin-bottom:20px;
  padding:10px;
}

.roster-list .header {
  font-weight: bold;
}

.roster-list .row  {
  position: relative;
  min-height:50px;
}

.roster-list .number,
.roster-list .player-name, 
.roster-list .player-position {
  display: inline-block;
  top:0;
  padding:3px 10px;
}

.roster-list .number {
  width:120px;
}

.roster-list .player-name {
  width:150px;
}

.roster-list .player-position {
  width:50px;
}

/* Gallery */

.photos {
  display:flex;
  flex-direction:column;
  
  
}

.photos img {
  display:flex;
  max-width: 70%;
  margin: 0 auto;
  padding:10px;
}